
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="stylesheet" href="{% static 'src/tema.css' %}">
    {% endcompress %}

    <meta charset="utf-8">
    <title>BuildFinder</title>
</head>

<body>
    {% block menu %}
    {% include 'landing/menu.html' %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% include 'landing/footer.html' %}
    {% endblock %}
</body>
</html>