{% load static %}
<footer class="t-sec footer bg-primary-dark white position-relative overflow-hidden pb-30">
                
    <!-- Background Shape -->
    <div class="bg-shape-4 opacity-003">
        <img src="images/demo-slick/bg-shape-4.svg" alt="">
    </div>
    <!-- End Background Shape -->
    
    <div class="container position-relative">
        
        <div class="row pb-120 pb-sm-80 pb-xs-50">
                                    
            <div class="col-md-4 col-lg-3 text-gray mb-sm-50">
                
                <div class="mb-30">
                    <img src="{% static 'logos/logo_blanco.png' %}" alt="Your Company Logo" width="200">
                </div>
                
                <p>
                    No dudes en contactar con nosotros
                </p>
                
                <div class="clearlinks">                                
                    <strong>T.</strong> <a href="tel: +51984547258">+51 984 547 258 (Whatsapp)</a>
                </div>
                
                <div class="clearlinks">
                    <strong>E.</strong> <a href="mailto:edwin@gmail.com">edwin@gmail.com</a>
                </div>
                
            </div>
            
            <div class="col-md-7 offset-md-1 offset-lg-2">                            
                <div class="row mt-n30">
                    
                    <!-- Footer Widget -->
                    <div class="col-sm-4 mt-30">
                        
                        <h3 class="fw-title">Mas información</h3>
                        
                        <ul class="fw-menu clearlist local-scroll">                                        
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Si eres contratista</a></li>
                            <li><a href="#">si eres subcontratista</a></li>
                            <li><a href="#">Inicia sesión</a></li>
                            <li><a href="#">Consultas</a></li>
                        </ul>
                        
                    </div>
                    <!-- End Footer Widget -->
                    
                    <!-- Footer Widget -->
                    <div class="col-sm-4 mt-30">
                        
                        <h3 class="fw-title">Síguenos en redes</h3>
                        
                        <ul class="fw-menu clearlist">
                            <li>
                                <a href="#" rel="noopener nofollow" target="_blank">
                                    <i class="fa-facebook" aria-hidden="true"></i>
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" rel="noopener nofollow" target="_blank">
                                    <i class="fa-youtube" aria-hidden="true"></i>
                                    Youtube
                                </a>
                            </li>
                            <li>
                                <a href="#" rel="noopener nofollow" target="_blank">
                                    <i class="fa-pinterest" aria-hidden="true"></i>
                                    Pinterest
                                </a>
                            </li>
                            <li>
                                <a href="#" rel="noopener nofollow" target="_blank">
                                    <i class="fa-linkedin" aria-hidden="true"></i>
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                    <!-- End Footer Widget -->      
                    
                </div>                            
            </div>
            
        </div>
        
        <!-- Footer Text -->
        <div class="row text-gray">
            
            <div class="col-md-4 col-lg-3">
                <b>© PROCONNET</b>
            </div>
            
            <div class="col-md-7 offset-md-1 offset-lg-2 clearfix">
                
                <b>2024</b>
                
                <!-- Back to Top Link -->
                <div class="local-scroll float-end mt-n20 mt-sm-10">
                    <a href="#top" class="link-to-top color-light">                                
                        <i class="mi-arrow-up size-24" aria-hidden="true"></i>
                        <span class="visually-hidden">Scroll to top</span>
                    </a>
                </div>
                <!-- End Back to Top Link -->
                
            </div>
            
        </div>
        <!-- End Footer Text --> 
        
     </div>
     
</footer>