
{% extends "landing/base.html" %}

{% block body %}
<style>
    section {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    img .w-full{
      height: 200px;
    }
</style>

<section>
    <div class="container mx-auto px-20 my-20"> 
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900">
                    ¿Quiénes somos?
                </h1>
                <p class="mb-6 text-lg font-normal text-gray-500">
                    Ullamco velit et laboris et in adipisicing minim voluptate eu anim anim qui excepteur. Do dolor commodo aliquip eiusmod deserunt Lorem excepteur aute labore eiusmod sunt eiusmod. Quis mollit cillum sint velit aliquip sint sit proident duis dolore officia do. Magna laborum incididunt do nulla ex occaecat nostrud minim fugiat et. Ullamco.
                </p>
            </div>
            <div class="">
                <img src="https://media.istockphoto.com/id/1350474131/photo/business-team-portrait.jpg?s=612x612&w=0&k=20&c=_rwVn8lkmzXc-_Q5tSyH-Jt0tt_acwxvXVYCckg8v0M=" alt="">
            </div>
        </div>
    </div> 
</section>

<section>
    <div class="container mx-auto px-20 my-20"> 
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900">
                    ¿Qué hacemos?
                </h1>
                <p class="mb-6 text-lg font-normal text-gray-500">
                    Ullamco velit et laboris et in adipisicing minim voluptate eu anim anim qui excepteur. Do dolor commodo aliquip eiusmod deserunt Lorem excepteur aute labore eiusmod sunt eiusmod. Quis mollit cillum sint velit aliquip sint sit proident duis dolore officia do. Magna laborum incididunt do nulla ex occaecat nostrud minim fugiat et. Ullamco.
                </p>
            </div>
            <div class="">
                <img src="https://www.redhat.com/sysadmin/sites/default/files/styles/full/public/2021-06/magnifying-glass-search-find-blue.jpg?itok=GkvbT2Jk" alt="">
            </div>
        </div>
    </div> 
</section>

<section>
    <div class="container mx-auto px-20 my-20"> 
        
    </div> 
</section>

<section>
    <div class="flex justify-around">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="https://www.gyplac.com/siteassets/co/hombre-instalando-sistema-drywall.jpg?v=4a297b&width=1200&height=750&mode=Crop" alt="Sunset in the mountains">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-center">Drywall</div>
            <p class="text-gray-700 text-base text-center">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="https://www.shutterstock.com/image-illustration/3d-illustration-concept-wide-background-600nw-2282758661.jpg" alt="Sunset in the mountains">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Acabados</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="https://revista-ps.costosperu.com/wp-content/uploads/2023/01/abridora-1.jpg" alt="Sunset in the mountains">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Acabados húmedos</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="https://i.ytimg.com/vi/OHju03Tvjzc/maxresdefault.jpg" alt="Sunset in the mountains">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Cimientos</div>
            <p class="text-gray-700 text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
          </div>
        </div>
      </div>
</section>

<section class="flex justify-center items-center">
  <div class="container mx-auto px-20 my-20"> 
    <div class="flex justify-between">
      <div class="w-1/3 bg-gray-200 p-6 rounded-lg shadow-lg">
        <div class="text-5xl font-semibold text-center">+20</div>
        <div class="text-sm text-center">Empresas registradas</div>
      </div>
      <div class="w-1/3 bg-gray-200 p-6 rounded-lg shadow-lg mx-4">
        <div class="text-5xl font-semibold text-center">+30</div>
        <div class="text-sm text-center">Servicios</div>
      </div>
      <div class="w-1/3 bg-gray-200 p-6 rounded-lg shadow-lg">
        <p class="text-5xl font-semibold text-center">+100</p>
        <p class="text-sm text-center">Clientes satisfechos</p>
      </div>
    </div>
  </div> 
</section>

<section class="container mx-auto px-20 my-20">
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900">
    Empresas que confían en nosotros
</h1>
  <div class="flex justify-center">
    <div class="flex items-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVRQQJw8ki4TueRZUiA9aCY2XSKB4qHsSG-YZxPsEN94VWIMrfqCZoF6rpRNAtT9wjhYg" alt="Logo Empresa 1" class="h-20 mx-4">
      <img src="https://img.freepik.com/vector-premium/logo-empresa-constructora-que-diga-construccion_893986-119.jpg" alt="Logo Empresa 2" class="h-20 mx-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj37nuhy5c4TIkQSbtcOByFkMbtHoUGbyAMlCrRYrdHA&s" alt="Logo Empresa 3" class="h-20 mx-4">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/construction-company-logo-realestate-company-design-template-cbabb56ff90f567111582056caf94176_screen.jpg?ts=1653241579" alt="Logo Empresa 4" class="h-20 mx-4">
    </div>
  </div>
</section>

{% endblock %}